<article id="{{ section.id }}" class="background-blue">
  <div class="content">
    <h2><i class="covid-19"></i> Covid-19 Safety Guidance</h2>
    <p>
      We know that we need to keep everyone who wants to come to our dances as safe
as possible. Our safety guidance for everyone attending is this:
    </p>
    <ul>
      <li>
        If you have Covid symptoms please don’t come. If you have bought a ticket, we will refund you, no questions asked.
      </li>
      <li>
        The hall will be ventilated.
      </li>
      <li>Sanitizer and hand washing facilities will be available.</li>
    </ul>
  </div>
</article>
