<article id="{{ section.id }}" class="background-white">
  <div class="content">
    <h2><i class="how-much"></i> How much?</h2>
    <p>When we are in Kennington, these are our prices.</p>
    <p>
      Tickets are available in
      <a
        href="https://www.tickettailor.com/events/oxfolkceilidhs/"
        target="_blank"
        >advance</a
      >. Please <a href="mailto:info@oxfolk.org.uk">contact us</a> directly
      about paying in cash and/or on the door.
    </p>
    <div class="half-width pull-left">
      <dl>
        <dt>Adults</dt>
        <dd>&pound;13</dd>
        <dt>
          Concessions
          <small
            >(eg unwaged, low income, students, pensioners) - don't ask for
            proof of concession: if you can't afford to pay the standard price,
            you are eligible for a concession, no questions asked.
          </small>
        </dt>
        <dd>&pound;8</dd>
        <dt>Children <small>(5-16)</small></dt>
        <dd>&pound;2</dd>
        <dt>Under 5s</dt>
        <dd><em>free</em></dd>
        <dt>Carer</dt>
        <dd><em>free</em></dd>
      </dl>
    </div>

    <aside class="half-width pull-right">
      <p>
        If you have a disability and need a personal assistant so that you can
        enjoy an evening at Oxfolk, we're happy to provide you with an extra
        ticket for them, free of charge.
      </p>
      <p>Ask us about group discounts</p>
    </aside>
  </div>
</article>
