<article id="{{ section.id }}" class="background-white">
  <div class="content">
    <h2><i class="how-much"></i> How much?</h2>
    <p>When we are in Kennington, these are our prices, but for all online events check the details for that particular dance.</p>
    <p>Tickets are available only on the door from 7.30pm</p>
    <div class="half-width pull-left">
      <dl>
        <dt>Adults</dt>
        <dd>&pound;11</dd>
        <dt>Concessions <small>(students, unwaged, pensioners)</small></dt>
        <dd>&pound;8</dd>
        <dt>Children <small>(5-16)</small></dt>
        <dd>&pound;2</dd>
        <dt>Under 5s</dt>
        <dd><em>free</em></dd>
      </dl>

      <p>
        If you have a disability and need a personal assistant so that you
        can enjoy an evening at Oxfolk, we’re happy to provide you with an extra
        ticket for them, free of charge. Please ask when you buy your ticket.
      </p>
    </div>

    <aside class="half-width pull-right">
      <h3>Student discount</h3>
      <p>
        <strong>Buy 5 get 1 free</strong>
        Student discount valid before 8.45pm and for all students in full time
        education.
      </p>
      <h3>Group discount</h3>
      <p>
        Buy 9 tickets and get 1 free, please
        <a href="contact.html">contact us</a> for details.
      </p>
    </aside>
  </div>
</article>
