<article id="{{ section.id }}" class="background-white">
  <div class="content">
    <h2><i class="how-much"></i> How much?</h2>
    <dl class="half-width pull-left">
      <dt>Adults</dt>
      <dd>&pound;10</dd>
      <dt>Concessions <small>(12-18s, students, OAPs)</small>
      <dd>&pound;7</dd>
      <dt>Children <small>(5-11)</small></dt>
      <dd>&pound;1</dd>
      <dt>Under 5s</dt>
      <dd><em>free</em></dd>
      <dt>Family <small>(2 adults + 2 children)</small></dt>
      <dd>&pound;29</dd>
      <dt>Family <small>(if children are under 12)</small></dt>
      <dd>&pound;22</dd>
    </dl>
    
    <aside class="half-width pull-right">
      <h3>Student discount</h3>
      <p>
        <strong>Buy 5 get 1 free</strong>
        Student discount valid before 8.45pm and for all students in full time
        education.
      </p>
      <h3>Group discount</h3>
      <p>Buy 9 tickets and get 1 free, please <a href="contact.html">contact us</a> for details.</p>
    </aside>
  </div>
</article>
