<article id="links" class="background-green">
  <div class="content">
    <h2><i class="links"></i> Links</h2>
    <div class="half-width pull-left">
      <ul>
        <li><a href="cats-calling-academy.html">Cat's Calling Academy</a></li>
        <li><a href="contact.html">Contact us</a></li>
        <li><a href="links.html">Links</a></li>
      </ul>
    </div>
    <div class="half-width pull-right">
      <ul>
        <li><a href="http://www.facebook.com/Oxfolkceilidhs" target="_blank">Join our group</a> on Facebook</li>
        <li><a href="http://twitter.com/Oxfolk" target="_blank">Follow us</a> on Twitter</li>
        <li><a href="http://www.youtube.com/oxfolk" target="_blank">View our channel</a> on YouTube</li>
      </ul>
    </div>
  </div>
</article>
