<article id="privacy" class="background-white">
    <div class="content">
        <h2>Privacy notice for Oxfolk Ceilidhs</h2>
        <p>
            Oxfolk Ceilidhs takes your privacy seriously. We are a “controller” of the
            personal information that you provide to us and this privacy notice sets
            out how, why and for how long we will use your personal data, as well as
            who it is shared with. It also explains your legal rights as a data
            subject and how to exercise them.
        </p>
        <h3>What we need from you</h3>
        <p>
            We may ask for your personal information in order to keep you informed of
            events we run. This may include:
        </p>
        <ul>
            <li>Name</li>
            <li>Email address</li>
            <li>Telephone number</li>
            <li>Address</li>
        </ul>
        <h3>Why we need your personal information – lawful basis: consent</h3>
        <p>
            If you join our mailing list you agree to receive emails from us. We will
            use this only for the following purposes:
        </p>
        <ul>
            <li>To inform you about events run by Oxfolk Ceilidhs</li>
            <li>
                To inform you of similar events not run by us which we believe you may
                be interested in
            </li>
        </ul>
        <h3>Why we need your personal information – lawful basis: contract</h3>
        <p>
            If you contact us to purchase or reserve tickets for an event we will need
            to keep and use your personal information to administer your order
        </p>
        <h3>
            Why we need your personal information – lawful basis: legitimate interest
        </h3>
        <p>
            If you are a caller, musician or other performer who is performing at one
            of our events we may use your name in publicity material, including
            websites and social media.
        </p>
        <h3>Who we share your personal information with</h3>
        <ul>
            <li>Members of Oxfolk Ceilidhs committee</li>
            <li>
                Stewards and other volunteers assisting with the running of events
            </li>
        </ul>
        <h3>Third party suppliers with access to personal data</h3>
        <p>
            Oxfolk Ceilidhs may use third party suppliers to provide services. These
            suppliers may process personal data on our behalf as “processors” and are
            subject to contractual conditions to only process that personal
            information under our instructions, and to protect it.
        </p>
        <h4>We use the following ticketing platforms for online ticketing</h4>
        <ul>
            <li>
                <a href="http://tickettailor.com" target="_blank">Ticket Tailor</a>
            </li>
            <li>
                <a href="https://www.yapsody.com/uk/ticketing/" target="_blank">Yapsody</a>
                which is managed on our behalf by
                <a href="https://www.folkweekendoxford.co.uk/" target="_blank">Folk Arts Oxford Ltd</a>
            </li>
        </ul>
        <p>
            In the event that we share personal information with external third
            parties, we only share such information strictly required for the specific
            purposes and take reasonable steps to ensure recipients shall only process
            the disclosed personal information in accordance with those purposes.
        </p>
        <h3>How we protect your personal information</h3>
        <ul>
            <li>
                Electronic data is stored using third party suppliers as listed above.
            </li>
            <li>
                Oxfolk Ceilidhs’ website is hosted on a private server in the United
                Kingdom
            </li>
        </ul>
        <h3>How long we keep your personal information</h3>
        <p>
            We keep your personal information only for as long as necessary to provide
            you with services. If you have signed up to our mailing list we will
            retain your personal information until you tell us you no longer wish to
            receive emails from us.
        </p>
        <h3>You have a right to</h3>
        <ul>
            <li>
                Change your communication preferences or restrict the processing of your
                personal data for specific purposes.
            </li>
            <li>
                Request that we correct your personal data if you believe it is
                inaccurate or incomplete.
            </li>
            <li>Request that we delete your personal information.</li>
            <li>
                Access the personal data that we hold about you through a ‘subject
                access request’ by <a href="mailto:info@oxfolk.org.uk">emailing us</a>
            </li>
        </ul>
        <p>
            If you are dissatisfied, you have a right to raise a complaint with the
            <a href="http://www.ico.org.uk" target="_blank">Information Commissioner’s Office</a>
        </p>
    </div>
</article>
