<article id="{{ section.id }}" class="background-white">
  <div class="content">
    <h2><i class="social"></i> Social</h2>
    <div class="half-width pull-left">
      <h3>Oxfolk on twitter</h3>
      <a
        class="twitter-timeline"
        href="https://twitter.com/Oxfolk"
        data-widget-id="334756351182008320"
        data-chrome="noheader noborders nofooter"
      ></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>
    <div class="half-width pull-right">
      <h3>Photostream</h3>
      <div class="media-wrapper">
        <iframe src="http://www.flickr.com/slideShow/index.gne?user_id=94047573@N07" frameBorder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>
  <div class="content">
    <h3>A night out with friends</h3>
    <p class="half-width pull-left">
      An Oxfolk ceilidh is a sociable and friendly night out, with live music, dancing, entertainment
      and a licensed bar. The original meaning of “ceilidh” is party and that’s exactly why people
      have brought their birthdays, family gatherings and even a hen night to Oxfolk.
    </p>
    <figure class="half-width pull-right">
      <img src="/assets/img/hen-do.jpg" alt="Hen night">
      <figcaption>Rapt hen party watches half-time entertainment</figcaption>
    </figure>
  </div>
  <div class="content">
    <div class="half-width pull-left">
      <p>
        So, what ever the occasion: works night out, club social event, birthday party, anniversary,
        hen night or stag night, family get together, Oxfolk has the perfect, friendly, party atmosphere.
        And you won’t get better value for money anywhere else in Oxford.
      </p>
      <p>
        <a href="mailto:info@oxfolk.org.uk">Get in touch</a> to find out about group discounts
      </p>
    </div>
    <figure class="half-width pull-right">
      <img src="/assets/img/dance.jpg" alt="Packed dance floor">
      <figcaption>Packed dance floor</figcaption>
    </figure>
  </div>
</article>
