<article id="{{ section.id }}" class="background-white">
  <div class="content">
    <h2><i class="social"></i> Social</h2>
    <div class="half-width pull-left">
      <h3>Oxfolk on twitter</h3>
      <a
        class="twitter-timeline"
        href="https://twitter.com/Oxfolk"
        data-widget-id="334756351182008320"
        data-chrome="noheader noborders nofooter"
      ></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    
    </div>
    <div class="half-width pull-right">
      <h3>Photostream</h3>
      <div class="media-wrapper">
        <iframe src="http://www.flickr.com/slideShow/index.gne?user_id=94047573@N07" frameBorder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>
</article>
