<article id="{{ section.id }}" class="background-green">
  <div class="content">
    <h2><i class="whats-on"></i> What's on</h2>
    <h3>2020-21 Season</h3>

    {% for ceilidh in site.posts reversed %} {% include ceilidh.html %} {% endfor %}

    <p>All tickets are available <a href="https://buytickets.at/oxfolkceilidhs" target="_blank">here</a></p>
    <h4>Check back for news for dates with</h4>
    <p>
      <strong>Climax Ceilidh Band</strong> and <strong>Hannah Moore</strong><br/>
      <strong>Jenny Newman</strong> and <strong>Andy Glass</strong><br/>
      <strong>PolkaWorks</strong> and <strong>Aidan Hansell</strong><br/>
      <strong>Dirty Big Canal Dance Band</strong> and <strong>Jane Bird</strong><br/>
      <strong>Bosun Higgs</strong>
    </p>
  </div>
</article>
