<article id="{{ section.id }}" class="background-blue">
  <div class="content">
    <h2><i class="what-is-a-ceilidh"></i> What is a ceilidh?</h2>
    <div class="half-width pull-left">
      <p>
        A ceilidh is an evening of high-energy dancing, similar to barn dancing
        or country dancing. The music is always live and loud and dancing is
        often fast and furious. Oxfolk plays host to many of the best ceilidh
        bands on the English folk scene and there will always be an excellent
        caller to guide you through the dances.
      </p>
      <p>
        <strong>For well over 30 years</strong>, Oxfolk has been holding dances
        in Oxford. During the COVID-19 pandemic we have adapted our dances to
        the present circumstances, and brought our events online so that you can
        enjoy them at home. Our dances are about community, connecting with
        people, celebrating our terrific traditional folk culture and generally
        having a really good time. These things are just as important now as
        ever. We also want to make sure that brilliant musicians, callers and
        sound technicians still have some work.
      </p>
      <p>
        <strong>What is an online ceilidh like?</strong> It's up to you, really.
        Some people Zoom in, and dance around their kitchens with their
        favourite broom, teddy or hoover attachment. Some people dance with
        their family or housemates. Some people listen. We don't mind, as long
        as you enjoy it. The caller will have dances that work for groups of 2-4
        people, or 1 person with a lot of imagination, and everything will be
        explained clearly, just like at a usual dance.
      </p>
      <p>
        <strong>We're using Zoom to hold our events</strong>, whilst it's not
        safe to have dances at our usual venue in Kennington. When you buy your
        ticket, details of how to access the event will be in your ticket
        confirmation. Please make sure you check your spam or junk email folders
        if you don't receive it straight away. Use a computer or device with
        Zoom downloaded for the best experience
        <a href="http://zoom.us" target="_blank">http://zoom.us</a>
      </p>
      <p>
        Online ceilidhs are still quite a new thing. If you have technical
        problems accessing any events here are some things you can try:
      </p>
      <ul>
        <li>Turning your technology off and on again(!)</li>
        <li>
          Making sure your volume is turned up and your speakers are plugged in
        </li>
      </ul>
      <p>
        If that doesn't work, <a href="mailto:info@oxfolk.org.uk">contact us</a>
      </p>
      <p>
        A massive thank you to
        <strong
          ><a href="https://folkweekendoxford.co.uk/"
            >Folk Weekend Oxford</a
          ></strong
        >
        for their support to run our online dances. They have lots of fantastic
        online gigs coming, too. Check out
        <a href="https://folkweekendoxford.co.uk/what-s-on.html" target="_blank"
          >their website</a
        >
        to find out more.
      </p>
      <p>
        Another big thank you to the managers of
        <strong>Kennington Village Centre</strong>, who have been really
        helpful. We're looking forward to coming back when it's safe for us all.
      </p>
    </div>
    <div class="half-width pull-right">
      <div class="media-wrapper">
        <iframe
          src="http://www.youtube.com/embed/5IHEfPCVD4E"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</article>
