<article id="{{ section.id }}" class="background-blue">
  <div class="content">
    <h2><i class="what-is-a-ceilidh"></i> What is a ceilidh?</h2>
    <div class="half-width pull-left">
      <p>
        A ceilidh is an evening of high-energy dancing, similar to barn
        dancing or country dancing. The music is always live and loud and
        dancing is often fast and furious.
        Oxfolk plays host to many of the best ceilidh bands on the English
        folk scene and there will always be an excellent caller to guide
        you through the dances.
        The dances are usually for sets of couple, rather than for couples
        alone, and the dances are always clearly explained and walked
        through before the music starts playing.
        If you've never done ceilidh dancing, this is a brilliant way to
        start because you really can pick it up as you go along.
        Wear some comfortable shoes or trainers, though &ndash; you'll need them!
      </p>
      <p>
        During the interval, you can grab a pint from the bar,
        catch your breath and watch a dance display or listen a music spot.
        Whether you're new to ceilidhs or whether you're a seasoned dancer;
        whether you're 6 or whether you're 60; everyone can have a great time!
      </p>
      <p>
        Dances are held on the second Saturday of the month, from October to May, with the exception of April when we're busy doing dance at <a href="http://folkweekendoxford.co.uk/" target="_blank">Folk Weekend Oxford</a>.
      </p>
    </div>
    <div class="half-width pull-right">
      <div class="media-wrapper">
        <iframe src="http://www.youtube.com/embed/5IHEfPCVD4E" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</article>