<article id="{{ section.id }}" class="background-blue">
  <div class="content">
    <h2><i class="what-is-a-ceilidh"></i> What is a ceilidh?</h2>
    <div class="half-width pull-left">
      <p>
        A ceilidh is an evening of high-energy dancing, similar to barn dancing
        or country dancing. The music is always live and loud and dancing is
        often fast and furious. Oxfolk plays host to many of the best ceilidh
        bands on the English folk scene and there will always be an excellent
        caller to guide you through the dances.
      </p>
      <p>
        When we’re at Kennington Village Centre, there's a bar with reasonably
        priced beer, cider, wine and soft drinks.
      </p>
      <h3>Hybrid ceilidhs</h3>
      <p>
        During the early stages of the Covid-19 pandemic, Oxfolk became well
        known for our Zoom ceilidhs, with dancers and musicians drawn from the
        UK and further afield. We want to know whether you would like us to
        carry running Zoom dances. There are lots of reasons for us to want to.
        Disability access and inclusion is really important to us, and we would
        like to continue to make Oxfolk's events accessible. The pandemic isn't
        over and some don't feel safe to come to in-person dances. But we really
        want to know what you think.
        <a href="https://forms.gle/8pJ7oiDcYB9CK7bS7" target="_blank"
          >Please fill in our short questionnaire</a
        >
      </p>
    </div>
    <div class="half-width pull-right">
      <div class="media-wrapper">
        <iframe
          src="https://www.youtube.com/embed/ON2xFXmizio"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</article>
