<article id="{{ section.id }}" class="background-blue">
  <div class="content">
    <h2><i class="where"></i> Where</h2>
    <div class="half-width pull-left">
      <p>When we are not on Zoom, we are usually at</p>
      <address>
        <strong>Kennington Village Centre</strong>
        Kennington Road, Kennington, Oxford, OX1 5PG
      </address>
      <ul>
        <li>
          Kennington Village Centre is opposite The Tandem Pub in the centre of
          the village.
        </li>
        <li>
          The nearest train station is
          <a
            href="http://www.nationalrail.co.uk/stations/oxf.html"
            target="_blank"
            >Oxford</a
          >.
        </li>
        <li>
          The
          <a href="http://city.oxfordbus.co.uk/routes/city35" target="_blank"
            >City 35 bus</a
          >
          run every half hour to and from central Oxford.
        </li>
      </ul>
      <aside class="hidden-mobile">
        <p>
          Please note:
          <small
            >parking for the hall is in the Village Hall / Surgery car park.
            When the car park for the Village Hall and Social Club is full,
            there is lots of legal parking available in the streets immediately
            off Kennington Road, but
            <strong>please do park considerately</strong>.</small
          >
        </p>
      </aside>
    </div>
    <div class="half-width pull-right">
      <img
        src="http://maps.googleapis.com/maps/api/staticmap?center=51.7183,-1.2443&zoom=14&size=768x432&amaptype=roadmap&markers=color:blue%7Clabel:O%7C51.7183,-1.2443&sensor=false"
      />
    </div>
  </div>
</article>
