$image-url: '../img/';

// Colours
$color-white: #fff;
$color-off-white: #ffe;
$color-grey-dark: #333;
$color-black-translucent: rgba(0,0,0,0.3);

$color-green-dark: #a6ce39;
$color-green-light: #ceff47;
$color-blue-dark: #008eb3;
$color-blue-light: #00b3ea;


$gutter-size: 1em;
$gutter-size-small: $gutter-size / 5;